html {
  background-color: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
  color: #1A2238;
  margin-bottom: 1rem;
}

.content {
  .line {
    //font-size: 14px;
  }
  p {
    color: #1a2238;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }
  pre {
    background-color: #1a2238;
    padding: 20px;
    border-radius: 8px;
  }
}
